* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/gojo_bg.jpeg");
    background-size: cover;
    background-position: center;
}

.form{
    width: 400px;
    background-color:transparent;
    border: 2px solid #686868;
    backdrop-filter: blur(8px);
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 4px 1px rgb(0, 0, 0,0.5);
}

.form h2{
    font-size: 32px;
    text-align: center;
    font-weight: 1000;
}

.form .name{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.form .name input{
    width: 100%;
    height: 100%;
    border: 2px solid #686868;
    background-color: transparent;
    border-radius: 30px;
    padding: 20px 30px 20px 20px;
    font-size: 15px;
}

.form .name i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
}

input::placeholder{
    color: #fff;
}

.form .remember{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 10px;
}

.remember a:hover{
    text-decoration: underline;
    color: cadetblue;
}

.form .btn{
    position: relative;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    border-radius:30px;
    box-shadow:0 10px 4px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s all ease;
    z-index: 1;
    border: #686868 3px solid ;
    cursor: pointer;
}

button::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    content: "";
    opacity: 0;
    background-color: aqua;
    border-radius:28px;
    z-index: -1;
}

button:hover,button:focus{
    color:white;
}

button:hover::before,button:focus::before{
    right:0;
    left:0;
    transition: 0.9s all ease;
    opacity: 1;
}

button:active{
    transform:scale(0.9);
}

.a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}


input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contacts-auto-fill-button {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}




